<section>
  <div class="overlay-footer">
    <div class="footer-text" >
      <p>Legal notice</p>
      <p>© Marvin Schneemann 2025</p>
    </div>

    <div class="logo-section">
      <div class="left-section">
        <div class="logo-container">
          <img
            class="logo-1"
            src="../../../../assets/icon/Logo icon-Dark.png"
            alt="Logo-1"
          />
          <img
            class="logo-2"
            src="../../../../assets/icon/Logo icon-Dark 2.png"
            alt="Logo-2"
          />
        </div>
        <div class="titel-container">
          <h3>M.Schneemann</h3>
          <h4>developer</h4>
        </div>
      </div>
    </div>

    <div class="footer-icon">
      <img src="../../assets/icon/Github button-dark.png" alt="Github" />
      <img src="../../assets/icon/Email button-dark.png" alt="Email" />
      <img src="../../assets/icon/Linkedin button-dark.png" alt="LinkedIn" />
    </div>
  </div>
</section>
