section {
  height: 170px;
  display: flex;
  justify-content: center;
  background-color: #89bcd9;
}

.section-two{
  display: none;
}
.overlay-footer {
  width: 1216px;
  height: 72px;
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.logo-container {
  position: relative;
  width: 56px;
  height: 38px;
  .logo-1,
  .logo-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s all;
  }
  .logo-1 {
    opacity: 1;
  }
  .logo-2 {
    opacity: 0;
  }
  &:hover {
    .logo-1 {
      opacity: 0;
    }
    .logo-2 {
      opacity: 1;
    }
  }
}
.logo-container {
  padding-right: 6px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}
.footer-text {
  font-family: "JS Regular";
  font-size: 18px;
  color: #262e34;
}
.logo-section-2 {
  display: none;
}

@media (max-width: 500px) {
  section {
    display: none;
  }
  .overlay-footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }
  .logo-section {
    display: none;
  }
  .logo-section-2 {
    display: block;
  }

  .footer-text {
    flex-direction: row;
    justify-content: center;
    gap: 123px;
  }
  .section-two{
    display: flex;
    height: 205px;

  }

  .footer-text{
    flex-direction: column;
    align-items: center;
    gap:0;
  }
}