<section id="contact">
  <h2>{{ "CONTACT.TITLE" | translate }}</h2>

  <div class="arrowUp">
    <span *ngFor="let scroll of scrollIcons">
      <img
        (click)="scrollToSection('abf-scroll')"
        [src]="scroll.current"
        (mouseenter)="onScrollHover(scroll.id)"
        (mouseleave)="onScrollLeave(scroll.id)"
        [alt]="scroll.id + ' icon'"
      />
    </span>
  </div>

  <div class="contact-text">
    <span class="text">
      {{ "CONTACT.INTRO" | translate }}<br />
      {{ "CONTACT.EXAMPLE" | translate }}
    </span>

    <div class="contact-information">
      <span
        class="contact-entry"
        *ngFor="let hover of hoverIconEMail"
        (mouseenter)="onIconHoverEMail(hover.id)"
        (mouseleave)="onIconLeaveEMail(hover.id)"
      >
        <img [src]="hover.current" [alt]="hover.id + ' icon'" />
        <a href="mailto:marvinschneemann@gmx.de">
          {{ "CONTACT.EMAIL_LABEL" | translate }}: marvinschneemann&#64;gmx.de
        </a>
      </span>
      
      <span
        class="contact-entry"
        *ngFor="let hover of hoverIconPhone"
        (mouseenter)="onIconHoverPhone(hover.id)"
        (mouseleave)="onIconLeavePhone(hover.id)"
      >
        <img [src]="hover.current" [alt]="hover.id + ' icon'" />
        <a href="tel:015162947199">
          {{ "CONTACT.PHONE_LABEL" | translate }}: 0151-62947199
        </a>
      </span>
    </div>
  </div>

  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="contact-form"
  >
    <div class="form-row">
      <!-- NAME -->
      <div class="input-label">
        <label for="name">{{ "CONTACT.FORM.NAME_LABEL" | translate }}</label>
        <input
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          required
          #name="ngModel"
        />
        <span class="error-msg" *ngIf="name.invalid && name.touched">
          {{ "CONTACT.FORM.ERRORS.NAME" | translate }}
        </span>
      </div>

      <!-- EMAIL -->
      <div class="input-label">
        <label for="email">{{ "CONTACT.FORM.EMAIL_LABEL" | translate }}</label>
        <input
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #email="ngModel"
        />
        <span
          class="error-msg"
          *ngIf="email.errors?.['required'] && email.touched"
        >
          {{ "CONTACT.FORM.ERRORS.EMAIL_REQUIRED" | translate }}
        </span>
        <span
          class="error-msg"
          *ngIf="email.errors?.['pattern'] && email.touched"
        >
          {{ "CONTACT.FORM.ERRORS.EMAIL_INVALID" | translate }}
        </span>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="input-label textarea-label">
      <label for="message">{{
        "CONTACT.FORM.MESSAGE_LABEL" | translate
      }}</label>
      <textarea
        [(ngModel)]="contactData.message"
        name="message"
        id="message"
        required
        minlength="20"
        placeholder="{{ 'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate }}"
        #message="ngModel"
      ></textarea>
      <span
        class="error-msg"
        *ngIf="message.errors?.['required'] && message.touched"
      >
        {{ "CONTACT.FORM.ERRORS.MESSAGE_REQUIRED" | translate }}
      </span>
      <span
        class="error-msg"
        *ngIf="message.errors?.['minlength'] && message.touched"
      >
        {{ "CONTACT.FORM.ERRORS.MESSAGE_MINLENGTH" | translate }}
      </span>
    </div>

    <!-- PRIVACY CHECKBOX mit ICON -->
    <div class="button-section">
      <div class="custom-checkbox">
        <input
          type="checkbox"
          id="privacy"
          name="privacy"
          [(ngModel)]="privacyAccepted"
          #privacy="ngModel"
          required
          (change)="onPrivacyChange(privacy)"
        />

        <label for="privacy">
          <span
            class="checkbox-image"
            [ngClass]="{
              checked: privacyAccepted,
              error:
                privacy.invalid && (privacy.touched || contactForm.submitted)
            }"
          ></span>

          <span class="privacy-text">
            {{ "CONTACT.FORM.PRIVACY_TEXT" | translate }}
            <a href="/privacy-policy" target="_blank">{{
              "CONTACT.FORM.PRIVACY_LINK" | translate
            }}</a>
            {{ "CONTACT.FORM.PRIVACY_CONTINUE" | translate }}
          </span>
        </label>

        <span
          class="error-msg"
          *ngIf="privacy.invalid && (privacy.touched || contactForm.submitted)"
        >
          {{ "CONTACT.FORM.ERRORS.PRIVACY" | translate }}
        </span>
      </div>

      <!-- BUTTON -->
      <button
        class="contact-submit-button"
        type="submit"
        [disabled]="contactForm.invalid || !privacyAccepted"
      >
        {{ "CONTACT.FORM.SUBMIT" | translate }}
      </button>
    </div>

    <div class="arrowUp-2">
      <span *ngFor="let scroll of scrollIcons">
        <img
          (click)="scrollToSection('abf-scroll')"
          [src]="scroll.current"
          (mouseenter)="onScrollHover(scroll.id)"
          (mouseleave)="onScrollLeave(scroll.id)"
          [alt]="scroll.id + ' icon'"
        />
      </span>
    </div>
  </form>
</section>
