section {
  background-color: #2d383f;
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.overlay {
  width: 1199px;
  height: 517px;
  padding-left: 123px;
  display: flex;
  flex-direction: column;
}
.text-section {
  display: flex;
  padding-bottom: 32px;
  width: 690px;
  height: 114px;
  img {
    width: 29px;
    height: 26px;
  }
  p {
    padding-left: 21px;
    padding-top: 16px;
    color: #f8f5ec;
    font-size: 18px;
    font-family: "JS Regular";
  }
}
h3 {
  font-size: 28px;
  font-family: "JS Light";
  color: #f8f5ec;
  padding-left: 21px;
  span {
    font-family: "JS Light";
    font-size: 18px;
    color: #f8f5ec;
    padding-left: 15px;
  }
}
.technologie-section {
  height: 517px;
  width: 453px;
  padding-right: 117px;
  p {
    display: flex;
    justify-content: center;
    color: #f8f5ec;
    font-size: 18px;
    font-family: "JS Light";
    padding-bottom: 12px;
  }
  img {
    width: 453px;
    height: 312px;
  }
}
.project-image{
  transition: transform 0.3s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  gap: 32px;
  .icon-img {
    width: 32px;
    height: 36px;
    transition: transform 0.3s ease-in-out;
  }
}
.icon-img {
  width: 32px;
  height: 36px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
}
button {
  background: transparent;
  border: 2px solid #6bb1e9;
  color: #6bb1e9;
  padding: 10px 20px;
  font-family: "JS Regular";
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
&:hover{
  background: #ffffff;
  color: #1e242b;
}
}
