<div class="navbar" [ngClass]="{ 'fixed': isFixed, 'original': isOriginal }">
  <div class="logo-section">
    <div class="left-section">
      <div class="logo-container">
        <img class="logo-1" src="../../../../assets/icon/Logo icon-Dark.png" alt="Logo-1" />
        <img class="logo-2" src="../../../../assets/icon/Logo icon-Dark 2.png" alt="Logo-2" />
      </div>
      <div class="titel-container">
        <h3>M.Schneemann</h3>
        <h4>developer</h4>
      </div>
    </div>
  </div>
  <nav>
    <p><a href="#why-me">Why me</a></p>
    <p><a href="#">Skills</a></p>
    <p><a href="#">Projects</a></p>
    <p><a href="#">Contact</a></p>
  </nav>
  <div class="language-switch">
    <span>DE</span>
    <div class="switch">
      <span>EN</span>
    </div>
  </div>
</div>
