.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1222px;
  height: 104px;
  background-color: #89bcd9;
  padding: 0 109px;
  &.fixed {
    position: fixed;
    top: 0px;
    left: 0;
  }
  &.original {
    width: 1222px;
    top: 683px;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 0.8rem;
  }
  h4 {
    color: #262e34;
    font-size: 0.9rem;
  }
}
nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    a {
      text-decoration: none;
      font-family: "JS Medium";
      color: #262e34;
      font-size: 1.63rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.language-switch {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  .switch {
    background-color: #fff;
    border-radius: 999px;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
  }
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.logo-container {
  position: relative;
  width: 56px;
  height: 38px;
  .logo-1,
  .logo-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s all;
  }
  .logo-1 {
    opacity: 1;
  }
  .logo-2 {
    opacity: 0;
  }
  &:hover {
    .logo-1 {
      opacity: 0;
    }
    .logo-2 {
      opacity: 1;
    }
  }
}
.titel-container {
  text-align: center;
  margin-top: 8px;
}
