section {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  scroll-margin-top: 100px;
}
.content {
  margin-top: 104px;
  width: 869px;
  height: 556px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-right: 40px;
  margin-bottom: 40px;
}
.my-skills {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 80px;
}

h2 {
  font-size: 60px;
  font-family: "Anta Regular";
  text-shadow: none;
  color: #6bb1e9;
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 Spalten für die Icons
  gap: 40px; // Abstand zwischen den Icons
  width: 409px;
  height: 404px;
  justify-content: center;
  align-items: center;
}

.icon-img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

p {
  font-family: "JS Regular";
  color: #89bcd9;
  align-items: center;
  padding-top: 5px;
}

.about-to-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.learning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 391px;
  background-image: url("../../../../assets/icon/MySkill/Ellipse\ 25.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.learning-icon {
  display: flex;
  gap: 24px;
  margin: 19px 0 19px 0;
  img {
    width: 32px;
    height: 32px;
  }
  p {
    font-size: 14px;
    font-family: "JS Regular";
  }
}

span {
  font-family: "JS Regular";
  font-size: 18px;
  color: #f8f5ec;
  text-align: center;
}

.currently {
  width: 194px;
  height: 23px;
}

.learning-text {
  width: 307px;
  height: 105px;
  text-align: center;
}

@media (max-width: 850px) {
  .my-skills {
    width: 386px;
    height: 398px;
    gap: 30px;
  }
  section {
    margin-top: 20px;
  }

  .about-to-text {
    height: 238px;
    width: 330px;
  }

  .icon-img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .my-skills {
    width: 386px;
    height: 398px;
    gap: 20px;
  }
  section {
    margin-top: 20px;
  }

  .icon-img {
    width: 40px;
    height: 40px;
  }

  .learning-text {
    width: 281px;
  }

  .skill-container {
    gap: 20px;
    width: 396px;
    height: 350px;
  }
}

@media (max-width: 700px) {
  .my-skills {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 15px;
  }
  .content {
    margin-top: 0px;
  }
  section {
    margin-top: 100px;
  }

  .skill-container {
    margin-top: 200px;
  }
  .learning {
    margin-top: 30px;
  }
  .about-to-text {
    height: 312px;
    width: 333px;
  }
}

@media (max-width: 500px) {
  .my-skills {
    align-items: center;
  }

  .skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 370px;
    height: 299px;
    justify-content: center;
    align-items: center;
  }

  .learning {
    width: 310px;
    height: 327px;
  }

  .learning-text {
    width: 235px;
  }
  span {
    font-size: 16px;
  }

  .about-to-text{
      height: 289px;
      width: 100px;
  }
}

@media (max-width: 400px) {
  .my-skills {
    align-items: center;
  }

  .skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 328px;
    height: 220px;
    justify-content: center;
    align-items: center;
    gap: 1;
  }

  .icon-img {
    width: 30px;
    height: 30px;
  }

  .learning {
    width: 310px;
    height: 327px;
  }

  .learning-text {
    width: 235px;
  }
  span {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .about-to-text{
    width: 278px;
  }
}
