<section id="abilities">
  <div class="content">
    <h2>{{ "SKILLS.TITLE" | translate }}</h2>

    <div class="my-skills">
      <div class="skill-container">
        @for (skill of skills; track skill) {
          <div class="skill">
            <img class="icon-img" [src]="skill.src" [alt]="skill.alt" />
            <p>{{ skill.alt }}</p>
          </div>
        }
      </div>

      <div class="learning">
        <span class="about-to-text">
          <span class="currently">{{ "SKILLS.LEARNING_INTRO" | translate }}</span>

          <div class="learning-icon">
            @for (item of learning; track item) {
              <div>
                <img [src]="item.src" [alt]="item.alt" />
                <p>{{ item.alt }}</p>
              </div>
            }
          </div>

          <span class="learning-text">
            {{ "SKILLS.LEARNING_TEXT" | translate }}
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
