.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 307px;
}
section {
  scroll-margin-top: 150px;
}
.section-text {
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 860px;
  height: 307px;
}

h2 {
  font-size: 60px;
  font-family: "Anta Regular";
  text-shadow: none;
  color: #6bb1e9;

  padding-bottom: 25px;
  padding-top: 43px;
}

span {
  font-family: "JS Bold";
  padding-right: 5px;
}
p {
  font-family: "JS Medium";
  text-align: justify;
}

.section-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
  width: 416px;
}

img {
  width: 65px;
  height: 50px;
  padding-right: 13px;
  padding-bottom: 6px;
}

.located {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.located span {
  font-weight: bold;
  color: #6bb1e9;
}

.about-me-text {
  max-width: 379px;
  font-size: 1rem;
  line-height: 1.6;
  color: #e5e5e5;
}
.button {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}

button {
  background: transparent;
  border: 2px solid #6bb1e9;
  color: #6bb1e9;
  padding: 10px 20px;
  font-family: "JS Regular";
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #89bcd95f;
  color: #1e242b;
}

@media (max-width: 830px) {
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:25px;
  }
}

@media (max-width: 500px) {
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:25px;
  }

  img {
    width: 48px;
    height: 38px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 60px;
    font-family: "Anta Regular";
    text-shadow: none;
    color: #6bb1e9;
    padding-bottom: 25px;
    padding-top: 43px;
  }

  span {
    font-family: "JS Bold";
    padding-right: 5px;
  }
  p {
    font-family: "JS Medium";
    font-size: 17px;
  }


}

@media (max-width: 400px) {
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:25px;
  }

  img {
    width: 48px;
    height: 38px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 60px;
    font-family: "Anta Regular";
    text-shadow: none;
    color: #6bb1e9;
    padding-bottom: 25px;
    padding-top: 43px;
  }

  span {
    font-family: "JS Bold";
    padding-right: 5px;
  }
  p {
    font-family: "JS Medium";
    font-size: 14px;
  }


}