<div class="about-me-content">
  <section id="about-me">
    <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>

    <div class="section-text">
      <div class="section-image">
        <img src="../../../../assets/icon/icon1.png" alt="" />

        <div class="located">
          <p><span>{{ "ABOUT_ME.I_AM" | translate }}</span> {{ "ABOUT_ME.LOCATION_TEXT" | translate }}</p>
        </div>
      </div>

      <div class="about-me-text">
        <p>{{ "ABOUT_ME.DESCRIPTION" | translate }}</p>

        <div class="button">
          <button (click)="scrollToSection('contact')" >  {{ "ABOUT_ME.BUTTON" | translate }}</button>
        </div>
      </div>
    </div>
  </section>
</div>
